<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.component.css">
    <script src="login.component.js" defer></script></head>
<body onload="showCaptcha()">
    <h1>Login Page</h1><br>
    <form action="registration">
        <label for="username">Enter Username:</label> <br>
        <input type="text" name="username" id="username"><br>
        <label for="username">Enter Password:</label> <br>
        <input type="password" name="password" id="passwd"><br>
        <!-- <label for="captcha">Enter Captcha:</label>
        <input type="text" name="captcha" id="captcha" disabled >
        <input type="text" name="captcha-inpt" id="captcha-inpt"><br> -->
        <input type="button" name="login" value="Login">
        <input type="submit" name="registration" value="Registration">
    </form>
</body>
</html>
  
